
<div id="container">

	<div id="top-box" class="generic-box">

		<h1 class="logo">SONG-A-TRON</h1>
		<nav id="top-art"></nav>

		<div class="whitespacing"></div>
		
	</div>
</div><!-- #container --> 
