/* 
Project Name: song-a-tron
Client: General Assembly 
Author: Zahra Jabini :: Raymond Chan :: Hsi-Chang Lin :: Audric Kim
Developers: Zahra Jabini :: Raymond Chan :: Hsi-Chang Lin
*/

/* Box Model Hack */

@import "styles";

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {

     a {
     text-decoration: none;
     color: #5F5C6C;
     font-size: 25px;
     }

     label {
     display: block;
     }

     img {
     width: 200px;
     height: 200px;
     }

     h3 {
          color: red;
          margin-top: 10px;
     }
}

footer {
     background: url('bg_blurb.jpg');
     height: 170px;

     #copyright {
     margin-left: 30px;
     padding-left: 40px;
     font-size: 20px;
     color: $gray-color;
     font-family: helvetica;
     }

     #copyright:hover {
          color: $blue-color;
     }

     #left {
          float: left;
          padding-left: 70px;
          margin-top: 10px;
          color: $gray-color;
     }

     .sprite {
          background: url('bg_blurb.jpg');
          margin-top: -10px;
          padding: 10px; 
          float: left;
          width: 100%;
          margin: auto;
          text-align: center;
          position: relative;
     }

     #social-media li {
          display: inline-block;
     }

     #social-media ul li a {
          width: 42px;
          height: 42px;
          float: left;
          background: url('social-sprites-02.png') no-repeat;
     /*     /*SCOTT KELLUM IMAGE REPLACEMENT SNIPPET*/
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
     }

          #social-media ul li a.facebook {
               background-position: -6px -7px;

          }

          #social-media ul li a.twitter {
               background-position: -50px -7px;
          }

          #social-media ul li a.linkedin {
               background-position: -96px -7px;
          }

          #social-media ul li a.facebook:hover {
               background-position: -6px -54px;
          }

          #social-media ul li a.twitter:hover {
               background-position: -50px -54px;
          }

          #social-media ul li a.linkedin:hover {
               background-position: -96px -54px;
          }
       
}

#yield-styling {
          font-family: 'Corben', cursive;
          font-size: 30px;
}

.infomatics {
    font-family: 'Offside', cursive;
    font-size: 18px;
}

.mini-logo {
     font-family: 'Monoton', cursive;
     font-size: 30px;
     margin: auto;
     float: left;
     color: #5F5C6C;
}


#error_explanation {
     padding:0.8em;
     margin-bottom:1em;
     border:2px solid #ddd;
     color: red;
}

.alignright {
     float: right; 
     padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
     float: left; 
     padding: 0 10px 10px 0; /* note the padding around a left floated image */
     }

nav {
     padding: 30px;
     font-family: 'Corben', cursive;
    
     width: 100%;
     margin: auto;

     div {
          float: right;
     }

     a {
     padding-left: 20px;
     padding-right: 20px;
     font-size: 20px;
     color: #110408;
     float: left;
     }

     a:hover {
     color: $blue-color;
     border-bottom: 1px dotted $blue-color;
     }
}

.update {
     padding: 20px;

     a {
     padding: 10px;
     font-size: 20px;
     }

     h2 {
     float: left;
     padding: 0;
     margin-top: -22px;
     margin-right: 10px;
     }
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;

     .clear {
     clear: both;
     }
}