@import "container";
@import "styles";


	#song {
	    background-color: $gray-color;
	    padding: 20px;
	}

	#songs {
  		background-color: #6FBFB7;
  		padding: 40px;
	}

	.field {
		@include field();
	}

	.csslabel input {
    	@include csslabel();
	}

	.song_item_container {
	    @include item_container();
	}

	.song_album_photo {
	    @include album_photo();
	}

	.song_side_info{
	    @include side_info();
	}

	.song_title{
	    @include title();
	}

	.song_album {
	    @include album();
	}

	.youtube {
		text-align: center;
	}

	.song_songs{
	    @include songs(); 
	}

	.song_box {
    display: inline-block;
    margin: 0 20px 30px 20px;
	}
}